<div class="container col-11 bg-white py-3 container-subcategories">
  <div class="row rounded justify-content-center bg-light mx-1 mx-md-5 my-3 border border-dark">
    <div class="col-12 text-center px-1 py-3 main-title">
      <h1 class="title">Elige una subcategoría</h1>
    </div>
    <div class="col-12 col-lg-6 d-flex mt-3 justify-content-center">
      <div class="container row rounded justify-content-center mx-3 mx-md-5 mb-2 mb-md-5 pt-2 pt-md-3 category targets-buy-color">
        <div class="container col-10 d-flex justify-content-center category-image">
          <% if FileTest.exist?("app/assets/icons/categories/#{@title}.svg") %>
             <img src='<%= asset_path("categories/#{@title}.svg") %>' class="image">
          <% else %>
            <h4 class="text-center text-danger py-5">La imagen no se encuentra</h4>
          <% end %>
        </div>
        <div class="container col-12 text-center p-1 py-md-3 m-2 category-title">
          <p><%= @title %></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 my-3 px-0 pr-md-3 text-center text-md-left subcategories-list">
      <% if @subcategories.empty? %>
        <h2 class="mb-5">Esta categoría no tiene subcategorías</h2>
        <ul>
          <li><%= link_to 'Continuar con categoría',
                          '',
                          method: :get,
                          class: "btn btn-info" %><li>
        </ul>
      <% else %>
        <% @subcategories.each do |subcategory| %>
          <ul>
            <li><%= link_to subcategory.title, '' %><li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
