.search-title {
  .back-link {
    height: 45px;
    left: -25px;
    position: absolute;
    top: 64px;
  }

  h1 { font-size: 4rem; }
}

.empty-search-container, .results-container {
  background-color: $banners;
  border-radius: 5px;
}

.empty-search-container {
  h1 {
    font-size: 2rem;

    @media screen and(min-width: 768px) { font-size: 3rem; }

    @media screen and(min-width: 1800px) { font-size: 4rem; }
  }

  p {
    font-size: 1rem;
    margin-bottom: 1rem;

    @media screen and(min-width: 768px) {
      font-size: 1.5rem;
      margin-bottom: 0;
    }

    @media screen and(min-width: 1800px) { font-size: 2.5rem; }
  }

  .search-icon {
    height: 100%;
    width: 100%;
  }
}

.publication-type-filter {
  .form-check {
    font-size: 1.25rem;
    margin: 15px 0;
    padding: 0;
  }

  input[type="radio"] {
    clip: rect(0, 0, 0, 0);
    position: absolute;
  }

  input[type="radio"] + label::before {
    border: 1px solid $black;
    content: '\a0';
    display: inline-block;
    height: .8em;
    line-height: .75em;
    margin: 0;
    transition: all .5s;
    width: .8em;
  }

  input[type="radio"] + label::before {
    border-radius: 49%;
    margin-right: 5px;
  }

  input[type="radio"]:checked + label::before {
    background: $black;
    border: 1px solid white;
    box-shadow: inset 0 0 0 1px white, 0 0 0 1px $black;
    content: '\a0';
    margin-left: 0;
    margin-right: 8px;
  }
}

.relevance-search-filter {
  margin: 100px 0;
}

ul {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 10px;

   a, a:hover {
      color: $black;
      font-size: 1.25rem;
      text-decoration: none;
    }
  }
}

nav.pagination {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  a {
    border-radius: 5px;
    color: $primary;
    font-size: 12px;
    padding: 7px;
    text-decoration: none;

   &:hover {
      background: $primary;
      color: $white;
	  }

    @media screen and(min-width: 768px) {
     font-size: 15px;
		 padding: 10px;
    }
	}

  span.current {
    font-size: 12px;
    padding: 7px;

    @media screen and(min-width: 768px) {
     font-size: 15px;
     padding: 10px;
    }
  }

  span.first, span.last {
    display: none;

    @media screen and(min-width: 768px) { display: unset; }
  }
}

div.loading {
  color: $black;
  font-size: 13px;
  margin-top: 20px;
  text-align: center;
}
