<div class="bg-white col-12 d-block p-1">
  <div class="petition-notification d-flex flex-column col-12 rounded">
    <% if @notifications.size == 1 %>
      <p class="mx-1 mt-2 d-inline-block text-truncate">Atendiendo tu solicitud de <b>
        <%= @notifications.first.action %></b></p>
      <%= link_to 'ver mi solicitud', '#', class: 'link-to mx-1 mb-2' %>
    <% else %>
      <p class="mx-1 mt-2">Atendiendo <b><%= @notifications.size %></b> solicitudes.</p>
      <%= link_to 'ver mis solicitudes', '#', class: 'link-to mx-1 mb-2' %>
    <% end %>
  </div>
</div>
