<div class="bg-white col-12 d-block p-1">
  <div class="petition-notification d-flex flex-column col-12 rounded">
    <% if @notifications.size == 1 %>
      <p class="mx-1 mt-2 d-inline-block text-truncate">Está buscando cotización de <b>
        <%= @notifications.first.action %>.</b></p>
      <%= link_to 'ver solicitud', '#', class: 'link-to mx-1 mb-2' %>
      </div>
    <% else %>
      <p class="mx-1 mt-2">Tienes <b><%= @notifications.size %></b> solicitdues pendientes.</p>
      <%= link_to 'ver todas', '#', class: 'link-to mx-1 mb-2' %>
      </div>
    <% end %>
</div>
