<div class="d-flex align-items-center w-75">
  <input type="text" class="h-75 form-control my-2"
          placeholder="Buscar usuario" aria-label="Search"
          aria-describedby="search-btn">
</div>

<div class="dropdown">
  <span class="dropdown d-block d-xl-none align-items-center"
        id="dropdownUserMenu"
        data-display="static"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
    <% conversation_company = company_recipient(current_user, @conversation) %>
    <%= profile_photo(conversation_company.user, '50x50') %>
  </span>

  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    <%= render partial: "info" %>
  </div>
</div>
