<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="d-flex flex-wrap justify-content-center col-11 px-0 my-md-5 my-sm-0">
      <div class="users-bar border col-xl-3 col-md-5 col-3 p-0 overflow-auto">
        <%= render partial: "conversations" %>
      </div>
      <div class="messages-section border col-xl-7 col-md-7 col-9 p-0 bg-light d-flex justify-content-center align-items-center">
        <span class="text-secondary">No hay ningun chat seleccionado</span>
      </div>
    </div>
  </div>
</div>
