<div class="container-fluid" data-turbolinks="false">
  <div class="row justify-content-center">
    <div class="d-flex flex-wrap justify-content-center col-12 m-1 m-md-5">
      <div class="top-bar d-flex row justify-content-between col-12 d-block d-xl-none">
        <%= render partial: "topbar" %>
      </div>
      <div class="users-bar col-xl-3 col-md-5 col-3 py-3 px-0 overflow-auto">
        <%= render partial: "conversations" %>
      </div>
      <div class="messages-section col-xl-5 col-md-7 col-9 mx-xl-1">
        <%= render partial: "messages" %>
      </div>
      <div class="info-section d-none d-xl-flex col-xl-3 align-items-center">
        <%= render partial: "info" %>
      </div>
    </div>
  </div>
</div>
