<div class="banner-homepage-info banner-color px-1 px-lg-0">
  <div class="col-12 container mx-0 px-1">
    <div class="row mx-0">
      <div class="col-12 col-md-6 offset-md-2 align-self-center">
        <p class="text-center pt-5 special-info">Encuentra las ofertas y los clientes adecuados para ti</p>
      </div>
      <div class="col-12 col-md-4 px-0 text-center text-md-right align-self-center">
        <%= image_tag('banner-info.png', alt: 'information-banner', class: 'img-info') %>
      </div>
    </div>
  </div>
</div>
