<div class="banner-img-bg">
  <div class="row mx-0 py-5 my-5 px-1 px-lg-5 justify-content-center">
    <div class="col-12 col-md-4 text-center py-2">
      <%= link_to 'Vender', categories_sales_path, class: 'btn btn-lg rounded btn-block banners-button' %>
    </div>
    <div class="col-12 col-md-4 text-center py-2">
      <%= link_to 'Comprar', categories_petitions_path, class: 'btn btn-lg rounded btn-block banners-button' %>
    </div>
  </div>
</div>
