<div class="banner-homepage-info banner-color px-1 px-lg-5">
  <div class="col-12 container mx-0 px-1 px-md-5 ">
    <p class="text-center py-5 special-info font-weight-light">Más de mil empresas afiliadas que te facilitarán el proceso de compra venta</p>
  </div>
</div>
