<div class="row banner-homepage-welcome mt-0 mb-5 my-md-5 mx-0 px-1 px-lg-5 banner-color">
  <div class="col-12 col-md-6 row text-center text-md-left align-items-center justify-content-center mx-0 px-1 pl-md-5 py-5">
    <h1 class="title">Mejora la manera de hacer comercio</h1>
    <p class="paragraph">
      Nuestra comunidad te ofrece la eficacia y coordinacción
      necesaría para completar de manera segura tus
      comprasy ventas
    </p>
  </div>
  <div class="col-12 col-md-6 row pb-5 pt-0 py-md-5 px-1 px-md-5 mx-0 justify-content-center align-items-center">
    <img src="<%= asset_path('borough-market.jpg') %>" alt="Borough Market" width="700" class="rounded img-fluid">
  </div>
</div>
