<div class="banner-color">
  <div class="row mx-0 py-5 my-5 px-1 px-lg-5 justify-content-center align-items-center">
    <div class="col-12 col-md-6 text-center text-md-left order-0 order-md-1 px-1 px-md-5">
      <p class="text-find-offers info-text">Solicita un producto o un servicio para obtener cotizaciones más rápidas y eficaces</p>
    </div>
    <div class="col-12 col-md-6 order-1 order-md-0 text-center px-1 pl-md-5">
      <a href="/purchases" class="btn btn-lg rounded banners-button">Solicita un producto</a>
    </div>
  </div>
</div>
<div class="banner-color">
  <div class="row mx-0 py-5 my-5 px-1 px-lg-5 justify-content-center align-items-center">
    <div class="col-12 col-md-6 text-center text-md-left px-1 px-md-5">
      <p class="text-announces-offer info-text">Anuncia tus ofertas para que nuestra comunidad pueda encontrarte</p>
    </div>
    <div class="col-12 col-md-6 text-center px-1 pr-md-5">
      <a href="#" class="btn btn-lg rounded banners-button">Anuncia tu oferta</a>
    </div>
  </div>
</div>
