<div class="bg-light my-5 banner-homepage-info">
  <div class="container">
    <p class="text-center py-5 text-md-left font-weight-light">Más de mil empresas afiliadas que te facilitarán el proceso de compra venta</p>
  </div>
</div>