<div class="banner-homepage-offer my-5">
  <div class="bg-light">
    <div class="container row mx-auto bg-light py-5">
      <div class="col-12 col-md-6 order-1 order-md-0 text-center d-flex align-items-center">
        <p class="font-weight-light text-1">Encuentra las ofertas y los clientes adecuados para ti </p>
      </div>
      <div class="col-6 offset-3 col-md-4 offset-md-1 order-0 order-md-1 d-flex justify-content-center img-offer">
        <%= image_tag('Special_offers.png', alt: "Logos CANACO", class: "rounded img-fluid")%> 
      </div>
    </div>
  </div>
  <div class="bg-light">
    <div class="row container bg-light mt-5 py-3 mx-auto">
      <div class="col-12 col-md-6 text-center text-lg-right order-0 order-md-1">
        <p class="font-weight-light text-2 mr-md-5">Anuncia tus ofertas para que nuestra comunidad pueda encontrarte</p>
      </div>
      <div class="col-12 col-md-6 order-1 order-md-0 d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-lg btn-outline-secondary">Anuncia tu oferta</button>
      </div>
    </div>
  </div>
</div>
