<footer class="row footer px-1 px-lg-5 pb-3 pt-2 mx-0">
    <div class="col-12 text-center logo my-5">
      <%= image_tag('logo-footer.png', alt: "Logos CANACO", class: "img") %>
    </div>

    <div class="row col-12 col-md mx-0">
      <div class="col-12 col-md  text-center order-2 order-md-1">
        <h5>Contacto</h5>
        <p class="text-lg-left">
          Teléfonos: 312-3120071 31-30058, 31-40161<br>
          Hidalgo #93 2do Piso Col. Centro, Colima<br>
          <a href="#">contacto@canacocolima.com.mx</a>
        </p>
        <p class="text-lg-left">&copy;1990-2019 CANACO o afiliados. Todos los derechos reservados.</p>
      </div>
      <div class="col-12 col-md text-center order-3 order-md-2">
        <h5>Menú</h5>
       <ul class="text-center">
          <li><a href="#" class="text-center text-md-left">Mi cuenta</a></li>
          <li><a href="#" class="text-center text-md-left">Mi orden</a></li>
          <li><a href="#" class="text-center text-md-left">Vender</a></li>
          <li><a href="#" class="text-center text-md-left">Solicitar producto</a></li>
          <li><a href="#" class="text-center text-md-left">Categorías</a></li>
       </ul>
      </div>
      <div class="col-12 col-md order-1 order-md-3 text-center mb-3">
        <h5>Redes sociales</h5>
         <a href="#"> <%= image_tag('facebook.svg',
                                    alt: "Facebook link", size: "30x30", class: "img mx-2 mx-xl-2") %> </a>
        <a href="#"> <%= image_tag('twitter.svg',
                                   alt: "Twitter link", size: "30x30", class: "img mx-2 mx-xl-2") %> </a>
        <a href="#"> <%= image_tag('linkedin.svg',
                                   alt: "Linkedin link", size: "30x30", class: "img mx-2 mx-xl-2") %> </a>
       </div>
    </div>
 </footer>
