<div class="row col-12 px-3 px-lg-5 py-2 py-md-3 py-lg-5 justify-content-cente mx-0" height="100">
  <div class="col-12 col-md-6 text-center text-md-left px-0 pl-md-5 pr-md-4 pb-4 pb-md-0">
    <img src="<%= asset_path('sponsorship1-mb.png') %>" alt="Mega Pizza" class="rounded img-fluid d-block d-md-none">
    <img src="<%= asset_path('sponsorship1.png') %>" alt="Mega Pizza" class="rounded img-fluid d-none d-md-block">
  </div>
  <div class="col-12 col-md-6 text-center text-md-rigth px-0 pr-md-5 pl-md-4 pb-3 pb-md-0">
    <img src="<%= asset_path('sponsorship2-mb.png') %>" alt="Cervecería de Colima" class="rounded img-fluid d-block d-md-none">
    <img src="<%= asset_path('sponsorship2.png') %>" alt="Cervecería de Colima" class="rounded img-fluid d-none d-md-block">
  </div>
</div>
