<div class="container col-12 px-3 px-md-4 px-lg-5 pb-3 pb-md-5 pt-md-3">
  <div class="col-12 w-100 text-center px-0 px-md-5">
    <img src="<%= asset_path('sponsorship3-mb.png') %>" alt="Mega Pizza" class="rounded img-fluid d-block d-md-none">
    <img src="<%= asset_path('sponsorship3.png') %>" alt="Mega Pizza" class="rounded img-fluid d-none d-md-block">
  </div>
</div>
