<div class="p-2">
  <input type="text" class="h-100 form-control d-none d-xl-block"
          placeholder="Buscar usuario" aria-label="Search"
          aria-describedby="search-btn">
  <hr class="d-none d-xl-block">
  <button class="d-flex row align-items-center justify-content-sm-around justify-content-center w-100 m-0 p-0 btn btn-outline-dark border-0 ">
    <div class="profile-photo my-2 justify-content-center profile-image">
      <!--When paperclip will be installed the name 'default' should change for :thumb'-->
      <%= image_tag('default.png', class: "rounded-circle bg-dark image") %>
    </div>
    <div class="d-none d-md-flex flex-column align-content text-left my-2 w-75">
      <h5 class="text-truncate m-0">Orlando Sotelo</h5>
      <p class="text-truncate m-0"><b>Tú:</b> Le interesa el producto que le ofrezco</p>
    </div>
  </button>
  <button class="d-flex row align-items-center justify-content-sm-around justify-content-center w-100 m-0 p-0 btn btn-outline-dark border-0">
    <div class="profile-photo my-2 justify-content-center profile-image">
      <!--When paperclip will be installed the name 'default' should change for :thumb'-->
      <%= image_tag('default.png', class: "rounded-circle bg-dark image") %>
    </div>
    <div class="d-none d-md-flex flex-column align-content text-left my-2 w-75">
      <h5 class="text-truncate m-0">Alan Anguiano</h5>
      <p class="text-truncate m-0">Es un excelente precio, me parece que tenemos trato</p>
    </div>
  </button>
  <button class="d-flex row align-items-center justify-content-sm-around justify-content-center w-100 m-0 p-0 btn btn-outline-dark border-0">
    <div class="profile-photo my-2 justify-content-center profile-image">
      <!--When paperclip will be installed the name 'default' should change for :thumb'-->
      <%= image_tag('default.png', class: "rounded-circle bg-dark image") %>
    </div>
    <div class="d-none d-md-flex flex-column align-content text-left my-2 w-75">
      <h5 class="text-truncate m-0">Ayrton Bello</h5>
      <p class="text-truncate m-0"><b>Tú:</b> Podría manejarle mayoreo en el caso de solicitar</p>
    </div>
  </button>
  <button class="d-flex row align-items-center justify-content-sm-around justify-content-center w-100 m-0 p-0 btn btn-outline-dark border-0">
    <div class="profile-photo my-2 justify-content-center profile-image">
      <!--When paperclip will be installed the name 'default' should change for :thumb'-->
      <%= image_tag('default.png', class: "rounded-circle bg-dark image") %>
    </div>
    <div class="d-none d-md-flex flex-column align-content text-left my-2 w-75">
      <h5 class="text-truncate m-0">Pablo Murillo</h5>
      <p class="text-truncate m-0"><b>Tú:</b> Claro, contamos con entrega a domicilio en la compra</p>
    </div>
  </button>
</div>
