<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="d-flex flex-wrap justify-content-center col-11 px-0 my-2">
      <div class="top-bar d-flex row justify-content-between border col-12 d-block d-xl-none py-1">
        <%= render partial: "topbar" %>
      </div>

      <div class="users-bar border col-xl-3 col-md-5 col-3 p-0 overflow-auto">
        <%= render partial: "conversations" %>
      </div>

      <div class="messages-section border col-xl-7 col-md-7 col-9 p-0">
        <%= render partial: "messages" %>
      </div>

      <div class="info-section d-none d-xl-block border col-xl-2">
        <%= render partial: "info" %>
      </div>
    </div>
  </div>
</div>
