.forgot-password-container {
  .signup-signin-links {
    font-size: 13px;
  }

  @media only screen and (min-width: 568px) {
    h3 {
      font-size: 40px;
    }

    .signup-signin-links {
      font-size: 15px;
    }
  }
}

.company-info-container {
  font-size: 12px;

  @media only screen and (min-width: 568px) {
    font-size: 15px;
  }
}