.search_catalogs {
  color: $secondary;
  font-family: $roboto;
  font-size: 1.2rem;
}

.image-field .image { width: 1.5rem; }

.categories {
  color: $secondary;
  font-size: 1.1rem;
}

.subcategories {
  color: $secondary;
  font-size: 1rem;
  font-weight: lighter;
}
