// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
$roboto: 'Roboto', sans-serif;
//Colors
$banners: #E5F0F5;
$bg-lightblue: rgba(229,240,245,0.55);
$black: #000000;
$info: #97C3D9;
$primary: #1778AB;
$secondary: #204653;
$tertiary: #004161;
$white: #FFFFFF;
