.banner-homepage-info {
  font-size: 30px;

  @media screen and (min-width: 720px) {
    font-size: 50px;
  }
}

.banner-homepage-offer {
  font-size: 30px;

  .img-offer {
    height: 250px;

    @media screen and (min-width: 720px) {
      height: 350px;
    }
  }

  .text-1 {
    @media screen and (min-width: 720px) {
      font-size: 50px;
    }
  }

  .text-2 {
    font-size: 25px;

    @media screen and (min-width: 720px) {
      font-size: 40px;
    }
  }
}

.banner-homepage-welcome {
  background-image: url(welcome-image.png), linear-gradient(90deg, rgba(248,249,250,1) 61%, rgba(9,9,121,0) 61%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 400px;
  
  .welcome-title {
    font-size: 35px;
  }

  @media screen and (min-width: 720px) {
    background-image: url(welcome-image.png), linear-gradient(90deg, rgba(248,249,250,1) 79%, rgba(9,9,121,0) 79%);  
    
    .welcome-title {
      font-size: 50px;
    }
  }

  @media screen and (min-width: 960px) {
    background-image: url(welcome-image.png), linear-gradient(90deg, rgba(248,249,250,1) 85%, rgba(9,9,121,0) 85%);  
  }
}
