.footer {
  background-color: $info;

  a {
    color: $white;
    font-family: $roboto;
    text-decoration: none;
  }

  .address-container {
    .logo {
      .img {
        height: 3rem;

        @media screen and (min-width: 815px) { height: 4rem; }
      }
    }
  }

  ul {
    list-style: none;

    li { padding: 7px; }
  }
}
