.footer {
  background-color: $info;
  @extend %footer-text;

  a {
  @extend %footer-text;
  }

  ul {
    li {
      margin-bottom: 0px;

      a {
        text-decoration: underline;
      }
    }
  }

  .logo {
    .img {
      height: 3rem;
    }
  }

   h5 {
    font-weight: bold;
  }
}
