.primary-button {
  background-color: $primary;
  color: $white;
  font-size: 1rem;

  @media screen and (min-width: 815px) { font-size: 1.2rem; }
}

.primary-button:hover {
  background-color: $secondary;
  color: $white;
}

.banners-button {
  background-color: $info;
  color: $white;
  font-family: $roboto;
  font-size: 1rem;
  text-shadow: 2px 2px 8px #000000;

  @media screen and (min-width: 1024px) { font-size: 2rem; }
}

.banners-button:hover {
  background-color: $secondary;
  color: $white;
}

.title {
  color: $primary;
  font-family: $roboto;
  font-size: 2.3rem;
  font-weight: lighter;

  @media screen and (min-width: 815px) { font-size: 2.8rem; }

  @media screen and (min-width: 1180px) { font-size: 3.8rem; }
}

.special-info {
  color: $secondary;
  font-family: $roboto;
  font-size: 1.5rem;
  font-weight: lighter;

  @media screen and (min-width: 815px) { font-size: 2.3rem; }

  @media screen and (min-width: 1180px) { font-size: 3.3rem; }
}

.info-text {
  color: $secondary;
  font-family: $roboto;
  font-size: 1.3rem;
  font-weight: lighter;

  @media screen and (min-width: 815px) { font-size: 1.8rem; }

  @media screen and (min-width: 1180px) { font-size: 2.5rem; }
}

.subtitle {
  color: $secondary;
  font-family: $roboto;
  font-size: 1.5rem;
  font-weight: lighter;

  @media screen and (min-width: 815px) { font-size: 2rem; }

  @media screen and (min-width: 1180px) { font-size: 2.5rem; }
}

.paragraph {
  color: $black;
  font-family: $roboto;
  font-size: 1rem;
  font-weight: lighter;

  @media screen and (min-width: 815px) { font-size: 1.5rem; }

  @media screen and (min-width: 1180px) { font-size: 2rem; }
}

.navbar-text {
  color: $white;
  font-family: $roboto;
  font-size: 1rem;
  font-weight: normal;

  @media screen and (min-width: 815px) { font-size: 1.2rem; }

  @media screen and (min-width: 1180px) { font-size: 1.4rem; }
}

%footer-text {
  color: $white;
  font-family: $roboto;
  font-size: 0.95rem;
  font-weight: normal;

  @media screen and (min-width: 815px) { font-size: 1rem; }

  @media screen and (min-width: 1180px) { font-size: 1rem; }
}

.banner-color { background-color: $banners; }

.text-form { font-size: 1rem; }

.targets-buy-color {
  background-color: $secondary;
  color: $white;
}

.carousel-info-container {
  position: relative;
}

.img-carousel-info {
  filter: brightness(.6);
}

.carousel-container-text {
  position: absolute;top: 16%;
  color: #fff;
  left: 15%;
  width: 40%;
}

.carousel-title {
  font-weight: bold;
  font-size: 1rem;
  @media screen and (min-width: 815px) { font-size: 3rem; }
  @media screen and (min-width: 1180px) { font-size: 5rem; }
}

.carousel-subtitle {
  font-size: 0.7rem;
  @media screen and (min-width: 815px) { font-size: 1.3rem; }
  @media screen and (min-width: 1180px) { font-size: 2.5rem; }
}

.banner-img-bg {
  background-image: url(asset_path('banner-offer-bg.png'));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
