.navbar-container {
  background-color: $white;
  height: 70px;
}

.navbar {
  background-image: linear-gradient(120deg, $primary 30%, $tertiary 30%);
  z-index: 10;

  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    @media screen and (min-width: 568px) { padding-left: 20px; }
  }

  .logo {

    img {
      height: 45px;

      @media screen and (min-width: 568px) { height: 100px; }
    }
  }

  .dropdown-menu {
    margin-top: 17px;

		@media screen and (min-width: 568px) { margin-top: 12px; }

    .notification-cable {
      max-height: 312px;
    }
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu a::after {
    position: absolute;
    right: 6px;
    top: .8em;
    transform: rotate(-90deg);
  }

  .dropdown-submenu .dropdown-menu {
    left: 100%;
    top: 0;
  }

  .menu-profile {
    margin-right: -17px;
    width: 200px;
  }

  .dropdown:hover {
    cursor: pointer;
  }

  .search-btn {
    background-color: $info;
  }

  .submenu-categories {
    margin-top: -9px;
    width: 500px;
  }

	.search-bar-mobile {
		right: 0;
		top: 0;
		width: 0;

		.input-search-mobile { border-width: 0; }
	}

  .notification-bell > .dropdown-menu {
    width: 300px;
  }

  #notification-counter {
    bottom: 20px;
    left: 20px;
    position: absolute;
  }

  .notification-item > a:hover {
    text-decoration: none;
  }

  .badge-pill {
    background-color: $notification-pills;
    font-size: 9px;
  }

  .salir-svg {
    img {
      margin-left: -2px;
    }
  }

  @media screen and (max-width: 990px) {
    margin-top: 0;
    position: fixed;
  }
}
