.navbar-container {
  background-color: $white;
  height: 70px;

  @media screen and (min-width: 768px) { height: 100px; }

}

.navbar {
  background-color: $primary;
  border-bottom: 1px solid $primary;
  z-index: 10;

  .logo {

    img {
      height: 30px;

      @media screen and (min-width: 568px) { height: 60px; }
    }
  }

  .dropdown-menu {
    margin-top: 27px;
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu a::after {
    position: absolute;
    right: 6px;
    top: .8em;
    transform: rotate(-90deg);
  }

  .dropdown-submenu .dropdown-menu {
    left: 100%;
    top: 0;
  }

  .menu-profile {
    margin-right: -17px;
    width: 200px;
  }

  .dropdown:hover {
    cursor: pointer;
  }

  .search-btn {
    background-color: $info;
  }

  .submenu-categories {
    margin-top: -9px;
    width: 500px;
  }

  .notification-bell > .dropdown-menu {
    left: -126px;
    width: 300px;
  }

  .notification-item > a:hover {
    text-decoration: none;
  }

  .salir-svg {
    img {
      margin-left: -2px;
    }
  }

  @media screen and (max-width: 990px) {
    margin-top: 0;
    position: fixed;
  }

}
