.background-image-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;

  @media only screen and (min-width: 990px) {
    background-position: center;
    background-size: cover;
    height: 250px;
  }
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  margin-top: 4%; 
  z-index: 1;

  .dropdown-menu {
    margin-top: 27px;
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu a::after {
    position: absolute;
    right: 6px;
    top: .8em;
    transform: rotate(-90deg);
  }

  .dropdown-submenu .dropdown-menu {
    left: 100%;
    top: 0;
  }

  .menu-profile {
    margin-right: -17px;
    width: 200px;
  }

  .dropdown:hover {
    cursor: pointer;
  }

  .submenu-categories {
    margin-top: -9px;
    width: 500px;
  }

  .notification-bell > .dropdown-menu {
    left: -126px;
    width: 300px;
  }

  .notification-item > a:hover {
    text-decoration: none;
  }

  .salir-svg {
    img {
      margin-left: -2px;
    }
  }

  @media screen and (max-width: 990px) {
    margin-top: 0;
    position: fixed;
  }

}
