.navbar-container {
  background-color: $white;
  height: 60px;
}

.navbar {
  background-color: $primary;
  border-bottom: 1px solid $primary;
  z-index: 10;

  .logo {

    img {
      height: 30px;

      @media screen and (min-width: 568px) { height: 60px; }
    }
  }

  .dropdown-menu {
    margin-top: 12px;

		@media screen and (min-width: 568px) { margin-top: 24px; }

    .notification-cable {
      max-height: 312px;
    }
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu a::after {
    position: absolute;
    right: 6px;
    top: .8em;
    transform: rotate(-90deg);
  }

  .dropdown-submenu .dropdown-menu {
    left: 100%;
    top: 0;
  }

  .menu-profile {
    margin-right: -17px;
    width: 200px;
  }

  .dropdown:hover {
    cursor: pointer;
  }

  .search-btn {
    background-color: $info;
  }

  .submenu-categories {
    margin-top: -9px;
    width: 500px;
  }

	.search-bar-mobile {
		right: 0;
		top: 0;
		width: 0;

		.input-search-mobile { border-width: 0; }
	}

  .notification-bell > .dropdown-menu {
    width: 300px;
  }

  #notification-counter {
    bottom: 20px;
    left: 20px;
    position: absolute;
  }

  .notification-item > a:hover {
    text-decoration: none;
  }

  .salir-svg {
    img {
      margin-left: -2px;
    }
  }

  @media screen and (max-width: 990px) {
    margin-top: 0;
    position: fixed;
  }
}
