.slick-prev, .slick-next {
  height: 400px;
  position: relative;
  top: 200px;
  width: 150px;
}

.slick-prev::before, .slick-next::before {
  content: " ";
}

.slick-prev, .slick-prev:hover, .slick-prev:focus {
  background: url(asset_path('left-arrow.svg'));
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  margin-left: 2px;
  padding-left: 20px;
}

.slick-next, .slick-next:hover, .slick-next:focus {
  background: url(asset_path('right-arrow.svg'));
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 2px;
  padding-right: 20px;
  right: 0;
}

.slick-next {
  right: 0;
}

.img-title {
  background-color: rgba($color: $dark, $alpha: 0.5);
  top: 82px
}