<div class="container bg-light col-11 col-md-9 my-3 mt-md-5 py-3 py-md-5 border rounded text-form">
  <div class="text-center">
    <div class="my-1 py-5 d-none d-md-block">
      <%= image_tag 'canaco-logo.png', size: '220x150' %>
    </div>
    <div class="my-1 py-5 d-block d-md-none">
      <%= image_tag 'canaco-logo.png', size: '160x110' %>
    </div>
    <h2 class="subtitle py-2">¡Confirma tu correo electrónico!</h2>
    <p class="mb-0">¡Gracias por unirte! acabamos de enviarte un mensaje</p>
    <p class="mb-0">de confirmación a: <strong><%= @user.email %></strong></p>
    <%= link_to 'Volver al inicio', root_path, class: "btn btn-lg primary-button mt-5" %>
  </div>
</div>
