<div class="bg-white">
  <div class="container-fluid">
    <div class='d-flex justify-content-center'>
      <div class="cards-zone d-flex flex-wrap justify-content-center border rounded col-lg-11 p-0 my-md-5 my-sm-0">
        <div class="col-12 text-center">
          <h1 class="m-4 main-title"><%= petition_or_sale_title %></h1>
        </div>
        <div class="row col-xl-10 col-md-12 justify-content-around p-0">
          <% @categories.each do |category| %>
            <%= link_to petition_or_sale_path(category_id: category.id),
                        class: "text-decoration-none" do %>
              <div class="tags d-flex flex-column justify-content-center align-items-center m-2 mb-5 p-2">
                <span class="m-2 text-center text-danger"><%= load_image(category.title) %></span>
                <span class="m-2"><h4 class="tags-titles"><%= category.title %></h4></span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
