<div class="email-structure">
  <div class="logo">
    <img src="https://drive.google.com/uc?export=view&id=1WXjGyLDxRhP2-6a3lEpZo9sCZ4vrQvQA" alt="Logo de CANACO">
  </div>
  <div class="text">
    <p class="subtitle">¡Hola <%= @resource.full_name %>!</p>
    <p class="paragraph">Te enviamos este correo para notificarte que tu contraseña ha sido cambiada.</p>
  </div>
</div>
