<div class="email-structure">
  <div class="logo">
    <img src="https://drive.google.com/uc?export=view&id=1WXjGyLDxRhP2-6a3lEpZo9sCZ4vrQvQA" alt="Logo de CANACO">
  </div>
  <div class="text">
    <p class="subtitle">¡Hola <%= @resource.full_name %>!</p>
    <p class="paragraph">
      ¿Usted ha solicitado cambiar su contraseña?, si es así de clic en el botón de abajo.<br>
      En caso de que no haya sido usted ignore este mensaje.
    </p>
    <%= link_to 'Cambiar mi contraseña',
                edit_password_url(@resource, reset_password_token: @token),
                class: 'button' %>
  </div>
</div>
