<div class="email-structure">
  <div class="logo">
    <img src="https://drive.google.com/uc?export=view&id=17St_zl_95H0WHJPaBTWF5B42eqpCOqYp" alt="Imagen de error CANACO">
  </div>
  <div class="text">
    <p class="subtitle">¡Hola <%= @resource.full_name %>!</p>
    <p class="paragraph">
      Su cuenta ha sido bloqueada debido a un excesivo número de intentos de inicio de sesión fallidos.<br>
      Haga clic en el botón de abajo para desbloquear su cuenta.
    </p>
    <%= link_to 'Desbloquear mi cuenta',
                unlock_url(@resource, unlock_token: @token),
                class: 'button' %>
  </div>
</div>
