<div class="row container-500-error justify-content-center mx-0 px-2 px-md-5">
  <div class="container row logo justify-content-center align-items-start text-secondary py-2">
    <img src="<%= asset_path('canaco_logo.png') %>" alt="CANACO-logo" class="img canaco-logo">
  </div>
  <div class="row error-message justify-content-center align-items-end mx-0">
    <div class="col-12 text-center">
      <p class="message-rest">
        LO SENTIMOS, HAY UN ERROR EN EL SERVIDOR ESTAMOS TRABAJANDO PARA SOLUCIONARLO
      </p>
       <%= link_to "Regresar atrás", :back, class: "btn btn-lg btn-secondary mb-3" %>
    </div>
  </div>
</div>
